<mat-toolbar color="primary">
    <span>Shopping Cart</span>
    <span class="middle"></span>
    <span>
        <input type="text" matInput placeholder="Search" name="search" [(ngModel)]="search">
        <button matSuffix mat-button><mat-icon>search</mat-icon></button>
    </span>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon class="badge-indicator" matBadge="15" matBadgeColor="warn">shopping_cart</mat-icon>
    </button>
</mat-toolbar>